body{
    margin:0 auto;
    background: url("../images/jt.jpg") fixed;
    background-size: cover;
    }
    
header{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    text-shadow:0px 10px 15px darkgrey;
    }
    
#clock{
    border-radius: 5px;
    font-size: 40px;
    text-shadow:0px 10px 15px darkgrey;
    }
    
nav{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(169, 169, 169, 0.3);
    }
    
.input{
    display:none;
    }
    
.boardHeader{
    background: lightseagreen;
    color: white;
    box-shadow:0px 10px 15px darkgrey;
    }
    
tr{
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    }
    
.tableDiv{
    width:20%;
    text-align: center;
    }
    
#scheduleView{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(210, 210, 210, 0.8); 
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    } 
    
footer{
    text-align: center;
    bottom: 0px;
    padding: 20px;
    }